name: Build and Deploy
on: # 监听 master 分支上的 push 事件
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # 构建环境使用 ubuntu
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          persist-credentials: false

      - name: Install and Build # 下载依赖 打包项目
        uses: actions/setup-node@v2.4.1
        with:
          node-version: '16'
          cache: 'npm'
        run: |
          npm install
          npm run build

      - name: Deploy # 将打包内容发布到 github page
        uses: JamesIves/github-pages-deploy-action@4.1.5 # 使用别人写好的 actions
        with:  # 自定义环境变量
          branch: gh-pages
          folder: dist
